@charset "UTF-8";

#tab_menu {
	margin: 0px;
	padding-top: 1%;
	padding-left: 1%;
}

#tab_menu li {
	float: left;
	list-style-type: none;
	width: 49%;
}

#tab_menu li a {
	width: 100%;
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
//	font-weight: bold;
	color: #FFF;
	background: darkgray;
	border: 1px solid darkgray;
	border-bottom: none;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px; 
	padding-top: 5%;
	padding-bottom: 5%;
}

#tab_menu li a.current {
	color: black;
	background: white;
}

#tab_menu li a:hover{
	color: darkgray;
	background: gainsboro;
}

#tab_contents{
	clear:both;
}

#tab_contents div {
//	padding: 5%;
//	background: white;
//	text-align: center;
//	border-top: none;
}

#tab_contents .divtab {
	padding: 10px;
}

#tab_contents #txtarea {
	width: 100%;
	height: 200px;
	margin-top: 10px;
}

#tab_contents .btn_classify {
	display: block;
	text-decoration: none;
	height:35px;
	width: 120px;
	line-height: 37px;
	text-align: center;
	color: #fff;
	background: #f9c667;
	background: -moz-linear-gradient(-45deg, #f9c667 0%, #f79621 100%); 
	background: -webkit-linear-gradient(-45deg, #f9c667 0%,#f79621 100%); 
	background: linear-gradient(135deg, #f9c667 0%,#f79621 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1 );
	border-radius: 20px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

#tab_contents .btn_classify:active {
	-ms-transform: translateY(2px);
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	box-shadow: none;
}
